@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as t;
@use '../../../../scss/mixins/typography/text' as p;
@use '../../../../scss/utils/placeholders/buttons/button' as *;
@use '../../../../scss/mixins/global' as g;

.results-filters {
	width: 100%;
	padding: 22px 0;
}