@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as t;
@use '../../../../scss/mixins/typography/text' as p;
@use '../../../../scss/utils/placeholders/buttons/button' as *;
@use '../../../../scss/mixins/global' as g;

.plan-modal {
	.modal {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
	}
	.modal-close {
		@extend %button;

		width: 24px;
		height: 24px;
		margin-left: auto;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.plan-img {
		border-radius: v.$br16;
	}
}