@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/typography/labels' as l;
@use '../../../../scss/mixins/typography/text' as t;
@use '../../../../scss/mixins/global' as g;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.profile-tabs {
	width: 100%;
	background-color: v.$c-white;

	&-wrapper {
		display: flex;
		flex-direction: column;
	}

	&-buttons {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
		padding-top: 32px;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 0;
			width: 100vw;
			height: 100%;
			transform: translateX(-50%);
			background-color: v.$c-sand-light;
			z-index: -1;
		}
	}

	&-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
		position: relative;

		&::before {
			content: "";
			width: 100vw;
			height: 100%;
			display: block;
			background-color: v.$c-white;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			z-index: -1;
		}

		&-inner {
			width: 100%;
			position: relative;
			height: 575px;
			z-index: 1;
		}
	}

	.content-title {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		padding-top: 24px;

		.title-top {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			align-items: center;
			justify-content: space-between;

			h2 {
				color: v.$c-black;

				@include h.t-header;
			}

			.sort {
				@extend %button;

				color: v.$c-black;
				gap: 4px;

				@include t.t-text;
			}
		}

		p {
			color: v.$c-text-grey;

			@include t.t-text;
		}
	}

	.content-list {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 32px;
		padding-bottom: 32px;

		form {
			fieldset {
				max-width: 300px;
			}
		}
	}
}