@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/typography/text' as p;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.forgot-modal {
	z-index: 101;

	.modal {
		width: 100%;
		max-width: 403px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-radius: v.$br16;
		gap: 16px;
		background-color: v.$c-white;

		&-title {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
			margin-bottom: 10px;

			h3 {
				color: v.$c-black;

				@include h.t-header;
			}

			.modal-close {
				@extend %button;

				width: 24px;
				height: 24px;
				margin-left: auto;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&-info {
			width: 100%;
		}
	}

	label {
		color: v.$c-black;

		@include p.t-text;
	}
}