<div class="contact-panel">
    <div class="contact-panel-inner">
        <div class="contact-panel-left">
            <p>
                Contact our agent to learn more and get special offers.
            </p>
        </div>
        <div class="contact-panel-right">
            @@include('components/ui/button/button.html', {"class": "gray sm bookmark", "text": "Save", "src": "/img/bookmark.svg"})
            @@include('components/ui/button/button.html', {"class": "orange sm request-quote", "text": "Request a quote", "src": "/img/call.svg", "dataModal": "quote-modal"})
        </div>
    </div>
</div>