<div class="large-card">
    <div class="large-card-inner">
        <div class="large-card-left">
            <div class="large-card-images">
                <div class="large-card-images-left">
                    <img src="/img/p1.jpg" alt="Image">
                </div>
                <div class="large-card-images-right">
                    <img src="/img/p2.jpg" alt="Image">
                    <img src="/img/p3.jpg" alt="Image">
                </div>
            </div>
        </div>
        <div class="large-card-right">
            <div class="large-card-top">
                <div class="large-card-top-left">
                    <div class="large-card-top-title">
                        <span class="subtext">from</span>
                        <span class="large-card-price">AED 6,000,000</span>
                    </div>
                    <span class="large-card-dev">Modon Properties</span>
                </div>
                <div class="large-card-top-right">
                    <div class="large-card-labels">
                        <div class="label grey">SEP 2028</div>
                        <div class="label red">POPULAR</div>
                    </div>
                </div>
            </div>
            <div class="large-card-bottom">
                <div class="large-card-info">
                    <div class="large-card-info-top">
                        <div class="large-card-info-items">
                            <span>
                                <img src="/img/bed.svg" width="16" height="16" alt="Vector icon">
                                2-5 Beds
                            </span>
                            <span>
                                <img src="/img/bath.svg" width="16" height="16" alt="Vector icon">
                                1-3 Baths
                            </span>
                            <span>
                                <img src="/img/meters.svg" width="16" height="16" alt="Vector icon">
                                90-210 sqft
                            </span>
                        </div>
                    </div>
                    <div class="large-card-info-bottom">
                        <p>Abu Dhabi, Al Hudayriat Island, Bashayer Villas</p>
                        <a href="#" class="button gray sm ">View details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>