<nav id="header-nav" class="header-nav">
    <ul class="menu">
        <li class="menu-item mobile">
            <img src="/img/logo.svg" alt="">
        </li>
        <li class="menu-item">
            <a href="#">Buy</a>
        </li>
        <li class="menu-item">
            <a href="#">New properties</a>
        </li>
        <li class="menu-item">
            <a href="#">Developers</a>
        </li>
        <li class="menu-item">
            <a href="#">Mortgage</a>
        </li>
        <li class="menu-item mobile">
            <img src="/img/hero-image.png" alt="">
        </li>
    </ul>
</nav>