<div class="search-tabs" data-search-tabs>
    <div class="tabs-buttons" role="tablist">
        <button type="button" class="button is-active" role="tab" id="search-tabs-tab-all"
            aria-controls="search-tabs-panel" aria-selected="true" tabindex="0" data-search-tab
            data-type="all">All</button>
        <button type="button" class="button" role="tab" id="search-tabs-tab-apartments"
            aria-controls="search-tabs-panel" aria-selected="false" tabindex="-1" data-search-tab
            data-type="apartments">Apartments</button>
        <button type="button" class="button" role="tab" id="search-tabs-tab-houses" aria-controls="search-tabs-panel"
            aria-selected="false" tabindex="-1" data-search-tab data-type="houses">Houses</button>
        <button type="button" class="button" role="tab" id="search-tabs-tab-villas" aria-controls="search-tabs-panel"
            aria-selected="false" tabindex="-1" data-search-tab data-type="villas">Villas</button>
        <button type="button" class="button" role="tab" id="search-tabs-tab-offices" aria-controls="search-tabs-panel"
            aria-selected="false" tabindex="-1" data-search-tab data-type="offices">Offices</button>
    </div>
    <form class="tabs-panel" data-search-panel>
        <div class="tabs-fields" role="tabpanel" id="search-tabs-panel" aria-labelledby="search-tabs-tab-all">
            <div class="tab-field">
                <button type="button" class="tab-selector" data-search-selector="available" aria-haspopup="listbox"
                    aria-expanded="false">
                    <span class="tab-field-label">Available</span>
                    <span class="tab-selector-value">
                        <span data-search-available-text>2026</span>
                        <img src="/img/arrow-down.svg" width="16" height="16" alt="Dropdown arrow">
                    </span>
                </button>
                <div class="tab-dropdown" role="listbox" tabindex="-1" data-search-dropdown="available" hidden></div>
            </div>
            <div class="tab-divider" aria-hidden="true"></div>
            <div class="tab-field">
                <button type="button" class="tab-selector" data-search-selector="beds_baths" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="tab-field-label">Beds and baths</span>
                    <span class="tab-selector-value">
                        <span data-search-beds-baths-text>2,3 beds, 2 baths</span>
                        <img src="/img/arrow-down.svg" width="16" height="16" alt="Dropdown arrow">
                    </span>
                </button>
                <div class="beds-baths-dropdown" data-search-dropdown="beds_baths" hidden>
                    <div class="beds-baths-content">
                        <div class="beds-baths-section">
                            <span class="beds-baths-label">Beds</span>
                            <div class="beds-baths-buttons">
                                <button type="button" class="beds-baths-btn" data-beds="1">1</button>
                                <button type="button" class="beds-baths-btn active" data-beds="2">2</button>
                                <button type="button" class="beds-baths-btn active" data-beds="3">3</button>
                                <button type="button" class="beds-baths-btn" data-beds="4">4</button>
                                <button type="button" class="beds-baths-btn" data-beds="5+">5+</button>
                            </div>
                        </div>
                        <div class="beds-baths-section">
                            <span class="beds-baths-label">Baths</span>
                            <div class="beds-baths-buttons">
                                <button type="button" class="beds-baths-btn" data-baths="1">1</button>
                                <button type="button" class="beds-baths-btn active" data-baths="2">2</button>
                                <button type="button" class="beds-baths-btn" data-baths="3">3</button>
                                <button type="button" class="beds-baths-btn" data-baths="4">4</button>
                                <button type="button" class="beds-baths-btn" data-baths="5+">5+</button>
                            </div>
                        </div>
                        <div class="beds-baths-actions">
                            <button class="button gray sm beds-baths-cancel" type="button">
                                <span>Cancel</span>
                            </button>
                            <button class="button orange sm beds-baths-apply" type="button">
                                <span>Apply</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-divider" aria-hidden="true"></div>
            <div class="tab-field">
                <button type="button" class="tab-selector" data-search-selector="price" aria-haspopup="listbox"
                    aria-expanded="false">
                    <span class="tab-field-label">Max price, AED</span>
                    <span class="tab-selector-value">
                        <span data-search-price-text>8,000,000</span>
                        <img src="/img/arrow-down.svg" width="16" height="16" alt="Dropdown arrow">
                    </span>
                </button>
                <div class="tab-dropdown" role="listbox" tabindex="-1" data-search-dropdown="price" hidden></div>
            </div>
            @@include('components/ui/button/button.html', {"class": "orange xl submit", "text": "Search", "src":
            "/img/search.svg", "alt": "Search"})
        </div>
        <input type="hidden" name="category" value="all" data-search-type>
        <input type="hidden" name="available" value="" data-search-available-value>
        <input type="hidden" name="max_price" value="" data-search-price-value>
        <input type="hidden" name="beds" value="" data-search-beds-value>
        <input type="hidden" name="baths" value="" data-search-baths-value>
    </form>
</div>