// Grid.
$xs: 375px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1366px;

// Container vars.
$container-padding: 20px;
$container-width: 1200px;
$max-width: $container-width + ($container-padding * 2);