<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-inner">
                <div class="footer-info">
                    <div class="subscribe">
                        <label for="subs">
                            <span>Keep Yourself Up to Date</span>
                            <input type="email" id="subs" placeholder="Your email address">
                        </label>
                        @@include('components/ui/button/button.html', {"class": "orange xl", "text": "Subscribe", "src": "/img/bell.svg", "alt": "Subscribe icon"})
                    </div>
                    <a class="footer-logo" href="/">
                        <img class="footer-logo" src="/img/logo.svg" width="132" height="50" alt="Vector logotype">
                    </a>
                    <div class="footer-block">
                        <span>Address</span>
                        <address>
                            Sheikh Zayed Road, Building 25 <br>
                            Al Quoz 3 <br>
                            Dubai
                        </address>
                    </div>
                    <div class="footer-block">
                        <span>Live Support?</span>
                        <a href="mailto:info@eastpropoerty.com">
                            info@eastpropoerty.com
                        </a>
                    </div>
                </div>
                <div class="footer-menu">
                    <nav>
                        <ul class="menu">
                            <li class="menu-item">
                                <span>Popular Search</span>
                            </li>
                            <li class="menu-item">
                                <a href="#">Apartment for Sale</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Houses for Sale</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Villas for Sale</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Offices for Sale</a>
                            </li>
                        </ul>
                        <ul class="menu">
                            <li class="menu-item">
                                <span>Discovery</span>
                            </li>
                            <li class="menu-item">
                                <a href="#">Dubai</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Abu Dhabi</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Palm Jumeirah</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Dubai Hills</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Business bay</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul class="menu">
                            <li class="menu-item">
                                <span>Quick Links</span>
                            </li>
                            <li class="menu-item">
                                <a href="#">Terms of Use</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Pricing Plans</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Our Services</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Contact</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Careers</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">FAQs</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="copyright">
                <span>© East Property – All rights reserved</span>
            </div>
        </div>
    </div>
</footer>
@@include('components/modals/image-modal/image-modal.html')
@@include('components/modals/quote-modal/quote-modal.html')
@@include('components/modals/desc-modal/desc-modal.html')
@@include('components/modals/create-modal/create-modal.html')
@@include('components/modals/signin-modal/signin-modal.html')
@@include('components/modals/forgot-modal/forgot-modal.html')
</div><!-- .wrapper -->

<script src="/js/main.min.js"></script>
</body>

</html>