@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/text' as t;

.footer {
	width: 100%;
	padding: 32px 0;
	background-color: v.$c-white;

	&-wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&-inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 40px;
		padding-bottom: 24px;
		border-bottom: 1px solid v.$c-grey-95;

		@media(min-width: v.$lg) {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			gap: 128px;
		}
	}

	&-info {
		width: 100%;
		max-width: 438px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	&-block {
		display: flex;
		flex-direction: column;
		gap: 4px;

		span, a, address {
			@include t.t-text;
		}

		span {
			color: v.$c-text-grey;
		}

		a,address {
			color: v.$c-black;
		}
	}

	&-menu {
		width: 100%;
		display: flex;
		align-items: flex-start;
		gap: 40px;

		@media(min-width: v.$lg) {
			flex: 1;
		}

		nav {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;

			@media(min-width: v.$xs) {
				flex-direction: row;
			}

			@media(min-width: v.$lg) {
				width: 50%;
				flex-direction: column;
				gap: 32px;
			}
		}

		.menu {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 8px;

			&-item {
				span, a {
					@include t.t-text;
				}

				span {
					color: v.$c-text-grey;
				}

				a {
					color: v.$c-black;
				}
			}
		}
	}

	&-logo {
		img {
			width: auto;
			height: 40px;

			@media(min-width: v.$md) {
				height: 50px;
			}
		}
	}

	.copyright {
		width: 100%;

		span {
			color: v.$c-black;

			@include t.t-text;
		}
	}
}

.subscribe {
	display: flex;
	align-items: flex-end;
	gap: 8px;

	label {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		color: v.$c-text-grey;

		@include t.t-text;

		input {
			width: 100%;
			padding: 16px;
			color: v.$c-black;
			border-radius: v.$br8;
			border: 0;
			margin: 0;
			background-color: v.$c-grey-97;

			@include t.t-text;

			&::placeholder {
				color: v.$c-text-grey;

				@include t.t-text;
			}

			@media(min-width: v.$sm) {
				min-width: 300px;
			}
		}
	}
}