<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-top">
                <div class="footer-top-inner">
                    <div class="footer-top-left">
                        <a class="footer-logo" href="/">
                            <img src="<?php echo THEME_URL; ?>/assets/img/logo-white.png" alt="">
                        </a>
                        <p>
                            В современном мире, где технологии развиваются быстрее, чем успевает адаптироваться человек, грань
                            между реальностью и виртуальностью становится всё менее заметной. Каждое нажатие клавиши, каждое
                            движение мыши
                        </p>
                    </div>
                    <div class="footer-top-right">
                        <nav class="footer-nav">
                            <span>Заголовок</span>
                            <div class="footer-nav-inner">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                </ul>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <nav class="footer-nav">
                            <span>Заголовок</span>
                            <div class="footer-nav-inner">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                </ul>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <nav class="footer-nav">
                            <span>Заголовок</span>
                            <div class="footer-nav-inner">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                </ul>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ссылка</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="footer-images">
                    <img src="<?php echo THEME_URL; ?>/assets/img/mastercard.svg" width="56" height="32" alt="иконка">
                    <img src="<?php echo THEME_URL; ?>/assets/img/visa.svg" width="56" height="32" alt="иконка">
                </div>
            </div>
            <div class="footer-bottom">
                <div class="copyright">
                    © 2025 копирайт.
                </div>
                <div class="footer-bottom-links">
                    <a href="#">
                        Ссылка
                    </a>
                    <a href="#">
                        Ссылка
                    </a>
                    <a href="#">
                        Ссылка
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>
</div><!-- .wrapper -->

<script src="/js/main.min.js"></script>
</body>

</html>