@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/text' as t;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/typography/text' as p;

.privacy {
	background-color: v.$c-white;
	padding: 24px 0;

	&-wrapper {
		width: 100%;
		max-width: 638px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;

		h1 {
			color: v.$c-black;

			@include h.t-headline;
		}

		h2, h3 {
			color: v.$c-black;

			@include h.t-title-bold;
		}

		h4 {
			color: v.$c-black;

			@include p.t-text(true)
		}

		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			list-style: disc;
			list-style-position: inside;
		}

		p, li, a, address {
			color: v.$c-black;

			@include p.t-text;
		}

		p {
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-block {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}