<div class="property-card">
    <a href="#" class="property-card-img">
        <span class="label grey">@@date</span>
        <img src="@@src" width="370" height="240" alt="Property image">
    </a>
    <div class="property-card-info">
        <h3>
            @@h3
        </h3>
        <p>@@desc</p>
        <a href="#">Sisu Real Estate</a>
        <div class="property-card-items">
            <div class="property-card-item">
                <img src="/img/bed.svg" width="16" height="16" alt="Vector icon">
                <span>@@beds</span>
            </div>
            <div class="property-card-item">
                <img src="/img/bath.svg" width="16" height="16" alt="Vector icon">
                <span>@@baths</span>
            </div>
            <div class="property-card-item">
                <img src="/img/meters.svg" width="16" height="16" alt="Vector icon">
                <span>@@meters</span>
            </div>
        </div>
    </div>
</div>