@use '../vars/vars' as v;
@use '../mixins/typography/labels' as l;
@use '../utils/placeholders/buttons/button' as *;

.result-tab-button {
	@extend %button;

	padding: 16px;
	color: v.$c-grey;
	background-color: v.$c-sand;

	@include l.t-label;

	&:first-child {
		border-top-left-radius: v.$br8;
	}

	&:last-of-type {
		border-top-right-radius: v.$br8;
	}

	&.active {
		background-color: v.$c-white;
	}
}

.preloader {
	position: relative;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 60px;
		z-index: 2;
		background: url('../img/preloader.svg') no-repeat top;
		opacity: 0.3;
		background-color: blanchedalmond;
		background-size: 300px;
	}

	a.large-card {
		opacity: 0.3;
	}
}