<div class="unit-card">
    <div class="unit-card-inner">
        <div class="unit-card-left">
            <div class="swiper single-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/img/p1.jpg" alt="Image"></div>
                    <div class="swiper-slide"><img src="/img/p1.jpg" alt="Image"></div>
                    <div class="swiper-slide"><img src="/img/p1.jpg" alt="Image"></div>
                    <div class="swiper-slide"><img src="/img/p1.jpg" alt="Image"></div>
                    <div class="swiper-slide"><img src="/img/p1.jpg" alt="Image"></div>
                </div>
                <div class="swiper-buttons">
                    <button class="swiper-prev sm"><img src="/img/swiper-arr.svg" width="16" height="16" alt="Prev"></button>
                    <button class="swiper-next sm"><img src="/img/swiper-arr.svg" width="16" height="16" alt="Next"></button>
                </div>
            </div>
        </div>
        <div class="unit-card-right">
            <div class="unit-card-top">
                <div class="unit-card-top-left">
                    <div class="unit-card-top-title">
                        <span class="unit-card-price">AED 6,100,000</span>
                        <span class="unit-card-desc">Apartment by Modon Properties</span>
                        <a href="#">Sisu Real Estate</a>
                    </div>
                </div>
                <div class="unit-card-top-right">
                    <div class="unit-card-labels">
                        <div class="label grey">SEP 2028</div>
                    </div>
                </div>
            </div>
            <div class="unit-card-bottom">
                <div class="unit-card-info">
                    <div class="unit-card-info-top">
                        <div class="unit-card-info-items">
                            <span>
                                <img src="/img/bed.svg" width="16" height="16" alt="Vector icon">
                                2 Beds
                            </span>
                            <span>
                                <img src="/img/bath.svg" width="16" height="16" alt="Vector icon">
                                2 Baths
                            </span>
                            <span>
                                <img src="/img/meters.svg" width="16" height="16" alt="Vector icon">
                                110 sqft
                            </span>
                        </div>
                    </div>
                    <div class="unit-card-info-bottom">
                        <p>Abu Dhabi, Al Hudayriat Island, Bashayer Villas</p>
                        <div class="unit-card-info-buttons">
                            <a href="/unit.html" class="button gray sm">View details</a>
                            @@include('components/ui/button/button.html', {"class": "orange sm", "text": "Contact broker", "dataModal": "broker-modal"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>