@use '../../../assets/scss/vars' as v;

.texts,
.privacy {
	a {
		color: v.$color-main;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

#wpadminbar {
	@media screen and (max-width: 600px) {
		position: fixed;
	}
}
