@use '../../../assets/scss/vars' as v;

.texts,
.privacy {
	a {
		color: v.$color-main;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

#wpadminbar {
	@media screen and (max-width: 600px) {
		position: fixed;
	}
}

.language-switcher {
	.current-lang {
		display: none;
	}

	a {
		display: flex;
		align-items: center;
		margin-right: 12px;

		span {
			color: #111;
			font-size: 14px;
			line-height: 18px;
		}
	}
}
