@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/typography/text' as p;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.quote-modal {
	.modal {
		width: 100%;
		max-width: 600px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-radius: v.$br16;
		gap: 16px;
		background-color: v.$c-white;

		&-info {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			&-inner {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;

				p, li {
					color: v.$c-black;

					@include p.t-text;
				}

				ul {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;

					li {
						display: flex;
						align-items: center;
						gap: 4px;

						img {
							width: 16px;
							height: 16px;
						}
					}
				}
			}
		}

		&-title {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
			margin-bottom: 10px;

			h3 {
				color: v.$c-black;

				@include h.t-header;
			}

			.modal-close {
				@extend %button;

				width: 24px;
				height: 24px;
				margin-left: auto;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&-links {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-end;
			gap: 10px;
			margin-top: 26px;
		}
	}
}