<div class="modal-wrapper quote-modal" data-modal-id="quote-modal">
    <div class="modal">
        <div class="modal-info">
            <div class="modal-title">
                <h3>
                    Request a quote
                </h3>
                <button class="modal-close" data-modal-close aria-label="Close">
                    <img src="/img/close.svg" width="24" height="24" alt="Close icon">
                </button>
            </div>
            <div class="modal-info-inner">
                <p>
                    You can get more information about the available properties, special deals and prices.
                </p>
                <ul>
                    <li>
                        <img src="/img/key.svg" width="16" height="16" alt="vector icon">
                        We work directly with builders
                    </li>
                    <li>
                        <img src="/img/secure.svg" width="16" height="16" alt="vector icon">
                        We facilitate the entire process for you We facilitate the entire process for you
                    </li>
                    <li>
                        <img src="/img/money.svg" width="16" height="16" alt="vector icon">
                        We don’t add anything on top of the price
                    </li>
                </ul>
            </div>
            <div class="modal-links">
                <a href="#" target="_blank" rel="noopener noreferrer" class="button sm gray">
                    <img src="/img/link.svg" width="16" height="16" alt="vector link">
                    Developer website
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer" class="button sm orange">
                    <img src="/img/call.svg" width="16" height="16" alt="vector link">
                    Whatsapp
                </a>
            </div>
        </div>
    </div>
</div>