@use '../../../vars/vars' as v;
@use '../../../mixins/typography/text' as t;
@use '../../../mixins/global' as g;
@use '../../../utils/placeholders/buttons/button' as *;

.sort-dropdown {
	position: relative;
	margin-left: auto;

	.sort img {
		transition: transform ease v.$tr;
	}

	.sort[aria-expanded="true"] img {
		transform: rotate(180deg);
	}
}

.sort-options {
	position: absolute;
	top: calc(100% + 4px);
	right: 0;
	z-index: 20;
	min-width: 220px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: v.$br8;
	background-color: v.$c-grey-97;
	box-shadow: 0 1px 4px 0 rgba(24, 26, 32, 0.5);

	&[hidden] {
		display: none;
	}
}

.sort-option {
	@extend %button;

	position: relative;
	width: 100%;
	justify-content: flex-start;
	padding: 12px 36px 12px 12px;
	color: v.$c-grey;
	text-align: left;
	white-space: nowrap;

	@include t.t-text;

	@include g.hover {
		background-color: v.$c-grey-95;
	}

	&:focus-visible {
		background-color: v.$c-grey-95;
	}

	&.is-selected {
		color: v.$c-black;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 12px;
			width: 16px;
			height: 16px;
			transform: translateY(-50%);
			background-image: url('../img/check.svg');
		}
	}
}
