@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/typography/text' as p;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.desc-modal {
	.modal {
		width: 100%;
		max-width: 600px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-radius: v.$br16;
		gap: 16px;
		background-color: v.$c-white;

		&-title {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
			margin-bottom: 10px;

			h3 {
				color: v.$c-black;

				@include h.t-header;
			}

			.modal-close {
				@extend %button;

				width: 24px;
				height: 24px;
				margin-left: auto;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&-desc {
			width: 100%;

			&-content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				p, li {
					color: v.$c-black;

					@include p.t-text;
				}

				p {
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				h2, h3 {
					color: v.$c-black;

					@include p.t-text(true)
				}
			}
		}
	}
}