@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/typography/text' as t;
@use '../../../../scss/mixins/typography/titles' as h;
@use '../../../../scss/mixins/global' as g;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.header {
	width: 100%;
	padding: 10px 0;

	&.sand {
		background-color: v.$c-sand-light;
	}

	&.white {
		background-color: v.$c-white;
	}

	&-wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

		@media(min-width: v.$sm) {
			gap: 32px;
		}
	}

	&-logo {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: auto;
			height: 40px;

			@media(min-width: v.$sm) {
				height: 50px;
			}
		}
	}

	nav {
		display: flex;
		justify-content: flex-end;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 99;
		width: 100vw;
		height: 100vh;
		background-color: rgb(17 17 17 / 39%);
		opacity: 0;
		visibility: hidden;
		transition: opacity ease-in-out v.$tr, visibility ease-in-out v.$tr;

		@media(min-width: v.$lg) {
			position: static;
			right: auto;
			top: auto;
			height: auto;
			background-color: transparent;
			padding: 0;
			margin: 0;
			opacity: 1;
			visibility: visible;
			display: inline-block;
			width: auto;
		}

		ul {
			width: 300px;
			height: 100vh;
			background-color: v.$c-sand-light;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
			padding: 100px 10px 20px 20px;
			margin: auto 0;
			overflow-y: auto;
			transform: translateX(100%);
			transition: transform ease-in-out v.$tr;

			@media(min-width: v.$lg) {
				width: auto;
				background-color: transparent;
				flex-direction: row;
				align-items: center;
				gap: 24px;
				padding: 0;
				height: auto;
				transform: translateX(0);
			}
		}

		li {
			a {
				color: v.$c-black;

				@include h.t-header;

				@media(min-width: v.$lg) {
					@include t.t-text;
				}
			}

			&.mobile {
				@media(min-width: v.$lg) {
					display: none;
				}
			}
		}
	}

	&-actions {
		display: flex;
		align-items: center;
		gap: 16px;

		.header-signin {
			@extend %button;

			color: v.$c-black;
			text-decoration: underline;

			@include t.t-text;
		}

		.header-login {
			span {
				position: absolute;
				width: 0;
				height: 0;
				visibility: hidden;

				@media(min-width: v.$sm) {
					position: static;
					width: auto;
					height: auto;
					visibility: visible;
				}
			}
		}

		button {
			position: relative;
			z-index: 100;
		}
	}

	.burger-button {
		@extend %button;

		width: 32px;
		height: 32px;

		span {
			width: 100%;
			height: 2px;
			background-color: v.$c-black;
			position: relative;
			border-radius: v.$br8;
			transition: transform ease-in-out v.$tr;

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0;
				display: block;
				background-color: v.$c-black;
				width: 100%;
				height: 2px;
				border-radius: v.$br8;
				transition: transform ease-in-out v.$tr, opacity ease-in-out v.$tr;
			}

			&::before {
				top: -8px;
			}

			&::after {
				bottom: -8px;
			}
		}

		@media(min-width: v.$lg) {
			display: none;
		}
	}

	&.menu-opened {
		.burger-button {
			span {
				transform: rotate(-45deg);

				&::before {
					top: 0;
					transform: rotate(90deg);
				}

				&::after {
					opacity: 0;
				}
			}
		}

		nav {
			opacity: 1;
			visibility: visible;

			ul {
				transform: translateX(0);
			}
		}
	}
}

header.header {
  background: v.$c-sand-light;
  box-shadow: none;
  margin-bottom: 0;
}